.container {
  height: 12rem;
  width: 12rem;
  background-color: rgb(30, 243, 243);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  overflow: hidden;
  box-shadow: 0 0 10px 8px rgba(92, 96, 96, 0.481);
  transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
  /* animation: hideCardInitially 2s ease-in-out; */
}

@keyframes hideCardInitially {
  0%,
  70% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.iconImage {
  height: 100%;
  width: 100%;
}

.correct {
  animation: showImage 0.2s ease-in-out forwards;
  backface-visibility: visible;
}
.hidden {
  animation: hideImage 0.2s ease-in-out backwards;
  backface-visibility: visible;
}

@keyframes showImage {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes hideImage {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@media (max-width: 100px) {
  .container {
    height: 1rem;
    width: 1rem;
  }
}
@media (min-width: 100px) {
  .container {
    height: 2rem;
    width: 2rem;
  }
}
@media (min-width: 220px) {
  .container {
    height: 3rem;
    width: 3rem;
  }
}

@media (min-width: 320px) {
  .container {
    height: 4.4rem;
    width: 4.4rem;
  }
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  .container {
    height: 7rem;
    width: 7rem;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .container {
    height: 5rem;
    width: 5rem;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .container {
    height: 9rem;
    width: 9rem;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .container {
    height: 12rem;
    width: 12rem;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .container {
    height: 14rem;
    width: 14rem;
  }
}

@media (min-width: 1282px) {
  /* hi-res laptops and desktops */
  .container {
    height: 14rem;
    width: 14rem;
  }
}
